.carousel {
    min-width: 100vw;
    height: 100vh;
    position: absolute;
    padding: 0px;
    white-space: nowrap;
    margin-left: -1vw;
    overflow: hidden;
}

.carousel-item {
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: inline-block;
    background-origin: 0;
    min-height: 100vh;
    min-width: 100vw;
}

.carousel-item img {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
}

.carousel-indicators {
    position: relative;
    bottom: 0;
    text-align: center;
}

.carousel-navigators {
    color: rgba(225, 231, 229, 0.568);
    font-size: 48px;
    position: absolute;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
    transition-duration: 0.5s;
}
.carousel-navigators:hover {
    color: white;
}

.is-left {
    left: 20px;
}

.is-right {
    right: 20px;
}

@media screen and (max-width: 900px) {
    .carousel-navigators {
      font-size: 24px;
      margin-top: 20vh;
    }
	
	.carousel-item {
		min-width: 99vw;
	}
}

@media screen and (max-width: 600px) {

	.carousel-item {
		min-width: 99vw;
	}
}