#projectnublar {
  background-image: url('../images/pn/velo.jpg');
  background-size: cover;
}

#dumblibrary {
  background-image: url('../images/dl/code.png');
  background-size: cover;
}

#gradlehook {
  background-image: url('../images/gh/gradle.png');
  background-size: cover;
}

@media only screen and (max-width: 720px) {
  #gradlehook {
    background-image: url('../images/gh/gradle.png');
    background-size: cover;
  }
}
